
* {
    font-family: system-ui;
}

body {
    direction: rtl;
}

/*#container {
    height: 1000px;
}
*/
.headerMainPage {
    background-image: url("../image/mainPageUp.jpg");
    background-position: center;
    height: 500px;
    background-size: 100% 500px;
    position: relative
}

#logo {
    float: right;
    block-size: 100px;
    max-width: 100px;
    height: auto;
}

.notactive {
    cursor: not-allowed;
    color: grey;
}

.navi {
    height: 50px;
}

#mainNav {
    width: 100%
}

.navi ul { /*menu*/
    list-style: none;
    margin: 0 auto;
    width: 1600px;
    clear: left;
}

    .navi ul li { /*menu*/
        display: inline-block;
        float: right;
    }

        .navi ul li a { /*menu*/

            display: block;
            float: right;
            background-color: darkolivegreen;
            color: white;
            height: 15px;
            width: 185px;
            text-align: center;
            padding: 5px;
            text-decoration: none;
        }

        .navi ul li ul { /*subNav*/

            display: none;
            position: absolute;
            top: 22px;
            margin: auto;
        }

        .navi ul li:hover ul { /*menu hovers*/
            display: block;
            width: 150px;
        }

nav ul filter:hover ul { /*menu hover*/
    display: block;
}


.breadmenu ol li {
    display: inline-block;
}

    .breadmenu ol li:after {
        content: " >";
    }


    .breadmenu ol li:last-child:after {
        content: "";
    }

.breadmenu a {
    color: green;
}

.ButtomNavi {
    display: block;
    float: right;
    background-color: darkolivegreen;
    color: white;
    height: 15px;
    text-align: center;
    padding: 5px 0px;
    position: fixed;
    bottom: 0;
    height: 20px;
    list-style: none;
    margin: 20px 0px 0px 0px;
    width: 100%;
}

    .ButtomNavi ul li a {
        float: left;
        color: white;
        height: 15px;
        width: 180px;
        text-align: center;
        text-decoration: none;
    }

#headerMainPage h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.pic {
    float: left;
    padding: 5px;
}

.radius {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

    .radius:hover {
        border-radius: 50%;
        height: 320px;
        width: 330px;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }


#imageOil {
    background-image: url("../image/pic1.jpg");
    background-size: cover;
    position: relative;
    display: inline-block;
}

    #imageOil:hover {
        background-image: url("../image/pic1hover.png");
        background-size: cover;
        position: relative;
        display: inline-block
    }

#imageOlive {
    background-image: url("../image/pic2.jpg");
    background-size: cover;
}

    #imageOlive:hover {
        background-image: url("../image/pic2hover.png");
        background-size: cover;
    }

#imageTree {
    background-image: url("../image/pic3.jpg");
    background-size: cover;
}

    #imageTree:hover {
        background-image: url("../image/pic3hover.png");
        background-size: cover;
    }

.buttom {
    background-image: url("../image/mainPageButtom.png");
    background-position: center;
    height: 500px;
    background-size: 100% 500px;
    position: relative
}

.buttomProcess {
    background-image: url("../image/downNoPic.png");
    background-position: center;
    height: 500px;
    background-size: 100% 500px;
    position: relative
}

#process {
    background-image: url("../image/path.jpg");
    background-position: center;
    height: 1000px;
    position: relative;
    background-repeat: space;
    background-size: 51% 1000px;
    background-color: #F8F4DD;
}

#hProcess {
    position: static;
}

#step1 {
    position: absolute;
    right: 40vw;
    top: 3vh;
}

.section_title:hover .textNone {
    display: inline-block;
}

.section_title:hover {
    border: 2px solid;
    background: #9DC08B;
    padding: 10px 20px;
    border-radius: 100px / 50px;
    width: 300px;
    height: 55px;
}

#step3:hover.section_title {
    border-radius: 100px / 50px;
    width: 35vw;
    height: 9vh;
}

#step5:hover.section_title {
    border-radius: 100px / 50px;
    width: 35vw;
    height: 9vh;
    padding: 5px;
}


#step2 {
    position: absolute;
    top: 22vh;
    right: 58vw;
}

#step3 {
    position: absolute;
    top: 40vh;
    right: 48vw;
}

#step4 {
    position: absolute;
    top: 63vh;
    right: 26vw;
}

#step5 {
    position: absolute;
    position: absolute;
    bottom: 19vh;
    right: 57vw;
}

.textNone {
    display: none;
}


.section_title:hover + .textNone {
    display: inline-block;
}

.section_title {
    border: 2px solid;
    background: #9DC08B;
    padding: 10px 20px;
    border-radius: 100px / 50px;
    width: 132px;
    height: 14px;
}

.Aboutpics {
    display: inline-block;
    width: 320px;
    height: 300px;
    position: relative;
}


#containerform {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    position: relative;
    min-height: 100px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../image/backabout.jpg");
    background-size: cover;
}

    .contact .contact1 {
        max-width: 800px;
        text-align: center;
        margin: auto;
    }

        .contact .contact1 h2 {
            font-size: 40px;
            font-weight: 500;
            color: darkolivegreen;
        }

        .contact .contact1 p {
            font-size: 24px;
            font-weight: 300;
            color: darkolivegreen;
        }

.FormContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

    .FormContainer .contactInfo {
        width: 20%;
        display: flex;
        flex-direction: column;
        background-color: black;
        border-radius: 360px;
        margin-left: 100px;
        padding: 10px;
        box-shadow: 10px 10px darkseagreen;
    }

        .FormContainer .contactInfo .box {
            position: relative;
            padding: 20px 80px;
            display: flex;
            align-items: center;
        }

            .FormContainer .contactInfo .box .icon {
                min-width: 60px;
                height: 60px;
                background: darkseagreen;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 22px;
            }

                .FormContainer .contactInfo .box .icon img {
                    width: 50%;
                }

                .FormContainer .contactInfo .box .icon #telpic {
                    width: 50%;
                }

            .FormContainer .contactInfo .box .text {
                display: flex;
                margin-left: 20px;
                font-size: 16px;
                color: antiquewhite;
                flex-direction: column;
                font-weight: 300;
            }

                .FormContainer .contactInfo .box .text h4 {
                    font-weight: 500;
                    color: darkseagreen;
                }

                .FormContainer .contactInfo .box .text p {
                    text-wrap: nowrap;
                    padding: 6px;
                    text-align: left;
                }


.ContactForm {
    width: 40%;
    padding: 40px;
    background: darkseagreen;
    border-radius: 15px;
    box-shadow: 10px 10px black;
}

    .ContactForm h4 {
        font-size: 20px;
        color: antiquewhite;
        font-weight: 300;
    }

    .ContactForm .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }

        .ContactForm .inputBox input {
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid white;
            outline: none;
            border-radius: 35px;
        }

            .ContactForm .inputBox input textarea {
                width: 100%;
                padding: 5px 0;
                font-size: 16px;
                margin: 10px 0;
                border: none;
                border-bottom: 2px solid white;
                outline: none;
                border-radius: 35px;
                resize: none;
            }

            .ContactForm .inputBox input[type="submit"] {
                width: 200px;
                background: wheat;
                color: olive;
                border: none;
                cursor: pointer;
                padding: 10px;
                font-size: 15px;
            }




#picsabout {
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

    #picsabout img {
        border-radius: 15px;
        height: 100%;
    }


#aboutText {
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid green;
    height: 100px;
    width: 900px;
    background-color: darkseagreen;
    position: relative;
    font-size: 20pt;
    font-family: system-ui;
    text-align: center;
    border-radius: 10px;
}

#US h1 {
    position: relative;
    text-align: center;
    font-size: 40pt;
    color: olive;
}

.background {
    background-image: url("../image/backabout.jpg");
    background-size: cover;
}
